*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    color: cornflowerblue;
    text-decoration: none;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    margin-top: 30px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-name{
    text-transform: capitalize;
    font-size: 1.1rem;
    font-family: sans;
    color: #0047Ab;
    font-weight: bold;
}


.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    list-style: none;
}

.main-nav li{
    text-transform: capitalize;
    font-size: 1.1rem;
    font-family: sans;
    padding: 0 20px;
}

.main-nav a{
    color: cornflowerblue;
    text-decoration: none;
} 

.current-page{
   font-weight: bold;
}


.hamburger-menu{
    display: none;
}

.hamburger-menu a{
   color: black;
   border-bottom: 1px solid gray;
   display: block;
   margin: 5px auto;
   transition: all 0.3s ease-in-out;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 1.1rem;
}

.hamburger-menu a:hover{
    background-color: #1c2732;
    color: whitesmoke;
}

@media(max-width: 768px) {
    .main-nav{
        display: none;
    }

    .navbar{
        justify-content: space-between;
        margin: 30px;
    }
}